#mainContent {

  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.categoryBody {
  width: 30%;

  min-height: 10%;
  max-height: 95%;
  border-radius: 16px;
  background-color: var(--category-background);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: height 0.7s ease-in-out;
  overflow: hidden;
  /* Remove the quotation marks around the property name */
}


.categoryHeader {
  width: 90%;
  height: 7vh;
  margin-top: 2%;
  align-self: center;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryHeaderIcons {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10%;
}

.categoryHeaderIcons img {
  width: 20%;
  height: auto;
}

.categoryCard {
  width: 90%;
  height: auto;
  min-height: 10%;

  margin-top: 1%;
  align-self: center;
  border-radius: 16px;
  background-color: var(--card-background);
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease-in-out;
  /* Ensure the element is initially visible */
}

.cardHeader {
  margin: 1.5%;
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.cardHeader img {
  width: 6.5%;
  height: auto;
}

.cardInfo {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 1%;
  gap: 1%;
}

.cardStatus {
  width: 100%;
  height: 75%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cardColor {
  border-radius: 22px;
  width: 3.5vw;
  height: 1.2vh;
}

.cardInfo img {
  width: 1vw;
  margin-right: 2.5%;
  height: auto;
  align-self: center;
}

.cardComments {
  display: flex;
  width: 1.6vw;
  height: auto;
  margin-right: 2.5%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.categoryHeaderIcons button {
  background-color: transparent;
  border: 0;
  width: 35%;
  align-self: center;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryHeaderIcons button:hover {
  cursor: pointer;
  background-color: #f8f7fe;
}

.plusTask {
  width: 70%;
  align-self: center;
  height: 7.5vh;
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease-in-out;
  margin-top: 2%;
  margin-bottom: 2%;
}

.plusTask:hover {
  cursor: pointer;
  background-color: #f8f7fe;
  border-radius: 10px;
}

.plusTask h4 {
  color: var(--app-title-color);
  margin-left: 4.5%;
  margin-top: 0.5%;
  align-self: center;
  font-size: var(--h4-size);
}

.addCardContainer {
  width: 100%;
  height: 70%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.addCardHolder {
  width: 90%;
  height: 12.5vh;
  margin-top: 2%;
  align-self: center;
  border-radius: 16px;
  background-color: var(--card-background);
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease-in-out;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}

.decisionContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  overflow: visible;
  width: 35%;
  height: 55%;
  align-self: center;
  margin-right: 5%;
}

.addButton {
  width: 45%;
  height: 85%;
  border-radius: 14px;
  border: 2px solid var(--buttons-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.cancelButton {
  width: 10%;
  height: 100%;
  align-self: center;
  margin-right: 8.5%;
  margin-bottom: 3%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100px;
  overflow: visible;
}
.cancelButton:hover{
  background-color: #f8f7fe;
}